<section class="contact py-lg-5 py-md-5 py-3" id="contact">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">

            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white"> İletişime Geçin</h3>

            <div class="contact_grid_right">
                <form action="/Home/homeContact/" method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left" data-aos="fade-up">
                            <div class="form-group">

                                <input class="form-control" type="text" name="nameSurname" placeholder="adınız soyadınız " style="color:white" required="">
                            </div>
                            <div class="form-group">

                                <input class="form-control" type="email" name="email" placeholder="mail" required="">
                            </div>
                            <div class="form-group">

                                <input class="form-control" type="text" name="subject" placeholder="konu" required="">
                            </div>
                        </div>
                        <div class="col-md-6 con-right" data-aos="fade-up">
                            <div class="form-group">
                                <textarea id="textarea" placeholder="mesaj" required="" name="messagetext"></textarea>
                            </div>
                        </div>
                        <div class="sub-honey mx-auto mt-3">
                            <input class="form-control" type="submit" value="Gönder">
                        </div>
                    </div>
                </form>
            </div>
            @Html.Action("homeCommunucation", "Home")
        </div>
    </div>
</section>
