@model List<EntityLayer.Concrete.HomeImage>
<section class="gallery py-md-5 py-3" id="projects">
    <div class="gallery-inner container py-md-5 pb-3">
        
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Proje Görselleri</h3>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">

                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g1.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="@item.imageUrl" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>@item.tittle</h3>

                                </div>
                            </div>
                        </a>
                    </div>


                </div>
            }

            

            <!--end portfolio-area -->
        </div>
        <!-- //gallery container -->
    </div>
</section>
