@model List<EntityLayer.Concrete.HomeCommunication>

@foreach (var item in Model)
{
    <div class="address row mt-lg-5">

        <div class="col-md-4 address-grid" data-aos="flip-up">



            <div class="address-info">
                <div class="address-left text-center">
                    <i class="far fa-map"></i>
                </div>
                <div class="address-right text-center">
                    <h6 class="my-3">Adres</h6>
                    <p>
                        @item.adresinfo   

                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-4 address-grid" data-aos="flip-up">
            <div class="address-info">
                <div class="address-left text-center">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="address-right text-center">
                    <h6 class="my-3">Email</h6>
                    <p>
                        @item.email
                        <a href="@item.email"> </a>

                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-4 address-grid" data-aos="flip-up">
            <div class="address-info">
                <div class="address-left text-center">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="address-right text-center">
                    <h6 class="my-3">Telefon</h6>
                    <p>@item.phone</p>

                </div>

            </div>
        </div>
    </div>
}