<header class="index-banner" id="home">
    <!-- nav -->
    <nav class="main-header d-flex">
        <div id="brand">
            <div id="logo">
                <a href="index.html">
                    <i class="fas fa-crosshairs"></i>
                </a>
            </div>
            <div id="word-mark">
                <h1>
                    <a href="index.html">MVCPRO</a>
                </h1>
            </div>
        </div>
        <div id="menu">
            <div id="menu-toggle">
                <div id="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="text-center nav-honey">
                <li>
                    <a href="/Home/homePage/" class="active ">Anasayfa</a>
                </li>
                <li>
                    <a class="scroll" href="#about">Geliştirme Araçları</a>
                </li>
                <li>
                    <a class="scroll" href="#services">Proje Hakkında</a>
                </li>
                <li>
                    <a class="scroll" href="#projects">Görseller</a>
                </li>
                <li>
                    <a class="scroll" href="#contact">İletişim</a>
                </li>
               

                <li class="login">
                    <button type="button" class="btn login-btn text-uppercase " data-toggle="modal" data-target="#exampleModalCenter">
                        <a href="/Login/Index/">Giriş</a>
                    </button>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
    <!-- //nav -->
    <!-- banner -->
    <div class="banner_section">
        <div class="snow-container">
            <div class="snow foreground"></div>
            <div class="snow foreground layered"></div>
            <div class="snow middleground"></div>
            <div class="snow middleground layered"></div>
            <div class="snow background"></div>
            <div class="snow background layered"></div>
        </div>
        <div class="banner-info text-uppercase">
            <h6 data-aos="fade-right">Onur Eyüpoğlu</h6>
            <h5 data-aos="fade-right">.Net Developer</h5>
            <h3 data-text="Hoş Geldiniz">Hoş Geldiniz</h3>
            <div class="ban-buttons mt-3" data-aos="fade-right">
                <a class="btn work scroll" href="https://github.com/eyupogluuu">GitHub</a>
                
            </div>

        </div>
    </div>
    <!-- //banner -->
</header>
