<section class="stats py-lg-5 py-4" id="stats">
    <div class="gallery-inner container py-md-5 py-4">
        <div class="row mt-lg-5 stats-con text-white">
            <div class="col-sm-3 col-6 stats_info counter_grid">

                <i class="far fa-user"></i>
                <p class="counter">@ViewBag.wc</p>
                <h4>Toplam Yazar sayısı</h4>

            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid1">

                <i class="fas fa-times"></i>
                <p class="counter">@ViewBag.hc</p>
                <h4>Toplam Başlık Sayısı</h4>

            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid">

                <i class="fas fa-magic"></i>
                <p class="counter">@ViewBag.cc</p>
                <h4>Toplam Entry Sayısı</h4>

            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid2">

                <i class="far fa-smile"></i>
                <p class="counter">38</p>
                <h4>Toplam Ziyaretçi Sayısı</h4>

            </div>
        </div>
    </div>
</section>
