@model List<EntityLayer.Concrete.WhatIDo>
<section class="services py-md-5 py-4" id="services">
    <div class="container">
        <div class="inner-sec-w3ls py-md-5 py-4">
            
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Neler Yaptım?</h3>
            <div class="price-right">
                <div class="tabs">
                    
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="menu-grids mt-4">
                                <div class="row t-in">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">

                                            <div class="card">

                                                <div class="card-body">
                                                    <i class="fas fa-list-ul mb-4"></i>
                                                    <h5 class="card-title text-uppercase">@item.tittle</h5>
                                                    <p class="card-text">@item.descreption</p>
                                                </div>

                                            </div>
                                           
                                        </div>
                                    }
                                    </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
