@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori Adi</th>
        <th>Açıklama</th>
        <th>Durumu</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.categoryID</td>
            <td>@c.categoryName</td>
            <td>@c.categoryDescription</td>
            <td>@c.categoryStatus</td>
        </tr>
    }
</table>
<a class="btn btn-outline-dark" href="/Category/categoryAdd/">Yeni Kategori Ekle</a>

