@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "cateList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<br />
<div class="container">
    <h2 class="content-header">Kategori Listesi</h2>
</div>
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Kategori Adi</th>
            <th>Sil</th>
            <th>Güncelle</th>
          
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.categoryID</td>
                <td>@c.categoryName</td>
                <td><a href="/AdminCategory/cateDelete/@c.categoryID" class="btn btn-danger">Sil</a></td>
                <td><a href="/AdminCategory/cateUpdate/@c.categoryID" class="btn btn-success">Güncelle</a></td>
              
            </tr>
        }
    </table>
    <a class="btn btn-outline-dark" href="/AdminCategory/cateAdd/">Yeni Kategori Ekle</a>

</div>